@charset "UTF-8";

.custom-width-100 {
	width: 100%;
}

.bg-gradient-customOatmeal {
	background-color: #EBDDCC;
	background-size: cover;
}

.custom-align-item-center {
	/* 	display:flex;  */
	align-items: center;
}

.custom-align-item-center-flex {
	display: flex;
	align-items: center;
}

.custom-btn-primary {
	color: #fff;
	background-color: #906849;
	border-color: #906849;
}

.custom-card-link {
	padding-right: 1.23rem;
	text-align: right;
}

.custom-cursor-pointer {
	cursor: pointer;
}

.custom-card-h-280 {
	height: 280px;
	overflow: hidden;
}

.c-h-100 {
	height: 100%;
}

.c-h-58 {
	height: 58px;
}

.c-w-150 {
	width: 150px;
}

.contents-over-scroll {
	overflow: scroll;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.contents-over-scroll::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Opera*/
}

.box {
	
}

.box::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Opera*/
}

.c-list-btn-type-item {
	position: relative;
	display: block;
	padding: 0.75rem 1.25rem;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: inherit;
}
.c-table-hover{
	table-layout: fixed;
}

.tr-vertical-align td, .tr-vertical-align th {
	vertical-align: middle;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.c-table-hover tbody tr:hover {
	color: #645047;
	background-color: #f9f6f2;
	cursor: pointer;
}

tr.c-tr-hover:hover {
	color: #645047;
	background-color: #f9f6f2;
	cursor: pointer;
}

.c-fill-up {
	height: 100%;
	width: 100%;
}

.separator {
	height: 0.8rem;
    padding-right: 0.5rem;
    margin-right: 0.5rem;
    border-right: 2px solid #b1b1b1;
}

.hiddenRow {
	padding: 0 !important;
	background-color: #eeeeee;
}

.c-row {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}

.c-cl {
	justify-content: flex-start !important;;
}

.c-cb {
	justify-content: space-between !important;;
}

.c-cr {
	justify-content: flex-end !important;;
}

.li-sidebar-divider {
	position: relative;
	display: block;
	background-color: #fff;
	height: 0.5rem;
	border-bottom: 1px solid rgb(194 194 194/ 85%);
	margin-bottom: 0.5rem;
}

.c-list-group {
	display: flex;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
	border-radius: 0.35rem;
}

.c-list-group-item-action {
	width: 100%;
	color: #6e707e;
	text-align: inherit;
}

.c-list-group-item-action:hover, .c-list-group-item-action:focus {
	z-index: 1;
	color: #6e707e;
	text-decoration: none;
	background-color: #f8f9fc;
}

.c-list-group-item-action:active {
	color: #858796;
	background-color: #eaecf4;
}

.c-list-group-item {
	position: relative;
	display: block;
	padding: 0.75rem 1.25rem;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.125);
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.c-list-group-item.disabled, .c-list-group-item:disabled {
	color: #858796;
	pointer-events: none;
	background-color: #fff;
}

.c-list-group-item.active {
	z-index: 2;
	color: #fff;
	background-color: #4e73df;
	border-color: #4e73df;
}

.c-list-group-item+.c-list-group-item {
	border-top-width: 0;
}

.c-list-group-item+.c-list-group-item.active {
	margin-top: -1px;
	border-top-width: 1px;
}

.c-modal-fullscreen {
	width: 100%;
	min-width: 100%;
	margin: 0rem;
	overflow: initial;
}

.c-modal-fullscreen .c-modal-content {
	height: 100%;
	min-height: 100%;
	overflow: initial;
}

.item-label {
	margin: 0rem 1rem 0rem 1rem;
	white-space: nowrap;
}

.item-btn {
	font-size: 1rem;
/* 	font-weight: bold; */
	white-space: nowrap;
	padding: 0.1rem 1rem;
	margin: 0.5rem;
	max-width: 25rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.color-black {
	color: black;
}

.point-list-group {
	display: flex;
	flex-direction: row;
	padding-left: 0;
	margin-bottom: 0;
	border-radius: 0.35rem;
}
.point-list-item  {
	display: flex;
    justify-content: center;
    align-items: center;
	position: relative;
	padding: 0.75rem 1.25rem;
	background-color: #e6e6e6;
	border: 1px solid rgba(0, 0, 0, 0.125);
	margin: 0.1rem;
	border-top-left-radius: calc(0.5rem - 1px);
	border-top-right-radius: calc(0.5rem - 1px);
	border-bottom-right-radius: calc(0.5rem - 1px);
	border-bottom-left-radius: calc(0.5rem - 1px);
	width: 19%;
	height: 3rem;
	text-align: center;
}
.point-border{
	overflow: overlay;
	border: 1px solid #b4b4b4;
    padding: 0.5rem;
    height: 14rem;
}
.point-btn-group{
	width: 100%;
	margin-top: 1rem;
}
.point-btn-group-item{
	width:25%;
	height: 5rem
}
.point-btn-group-item2{
	width: 75%;
    height: 5rem;
    border-color: #858796;
}

.table-border {
	height: 20rem;
	overflow: overlay;
    border: 1px solid #b4b4b4;
}

.c-bg-fade {
	background-color: rgba(0, 0, 0, 0.5);
}

.c-li-sidebar-divider {
    position: relative;
    display: block;
    background-color: #fff;
    height: 1.25rem;
    border-bottom: 10px solid #e5c89f;
}

.c-color999 {
	color: #999999;
}

.chart-item{
	font-size: 1rem;
    padding: 0.1rem 0.3rem;
    text-align: left;
    margin-right: 5px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.chart-item-first{
    text-align: left;
    overflow: hidden;
    width: 100%;
}

.c-input-group{
	display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.c-form-control {
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6e707e;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d1d3e2;
  border-radius: 0.35rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
