<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="jdbcTypeForNull" value="VARCHAR"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.tad.lgn.vo.lgnVO" alias="lgnVo" />
		<typeAlias type="com.tad.dct.vo.dctVO" alias="dctVo" />
		<typeAlias type="com.tad.crc.vo.crcVO" alias="crcVo" />
		<typeAlias type="com.tad.crc.vo.pgbVO" alias="pgbVo" />
		<typeAlias type="com.tad.common.vo.cmmVO" alias="cmmVo" />
	</typeAliases>
	
</configuration>